apiVersion: apps/v1
kind: Deployment
metadata:
  name: ebpf-network-latency
  labels:
    app: ebpf-network-latency
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ebpf-network-latency
  template:
    metadata:
      labels:
        app: ebpf-network-latency
    spec:
      containers:
        - name: ebpf-exporter
          image: $IMAGE
          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN", "SYS_PTRACE"]
            privileged: true
          volumeMounts:
            - mountPath: /sys
              name: sys
              readOnly: true
            - mountPath: /proc
              name: proc
              readOnly: true
          ports:
            - containerPort: 8080
              name: metrics
      volumes:
        - name: sys
          hostPath:
            path: /sys
        - name: proc
          hostPath:
            path: /proc
---
apiVersion: v1
kind: Service
metadata:
  name: ebpf-network-latency
spec:
  ports:
    - name: metrics
      port: 8080
      targetPort: 8080
  selector:
    app: ebpf-network-latency
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ebpf-network-latency
spec:
  selector:
    matchLabels:
      app: ebpf-network-latency
  endpoints:
    - port: metrics
      interval: 30s
